/* .footer {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.copy {
    display: flex;
    justify-content: center;
}


.foot {
    bottom: 0;
    padding: 30px 0;

} */
.icon {
    gap: 10px;
    display: flex;
}

.footer-section {
    background: #1976d2;
    padding-bottom: 30px;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 0;
}

.footer-section-row {
    background: #0478ec;
    padding: 10px;
    margin-bottom: 50px;
}

.address {
    padding: 10px;
    display: flex;
}

.right-text {
    padding-left: 28px;
}

.right-text h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

.right-text p {
    margin: 0px;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
}

.footer-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f7bb07;
    font-size: 20px;
    margin-bottom: 23px;
    font-weight: 700;
    position: relative;
}

/* .footer-title span::before {
            content: "";
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 117px;
            height: 2px;
            background-color: #f7bb07;
        } */

.footer-title-text {

    z-index: 999;
    position: relative;
}



.quick-link-list {
    list-style-type: none;
    padding: 0px;
}

.quick-link-list li a {
    color: #fff;
    margin-bottom: 8px;
    display: block;
}

.footer-section-bottom {
    background: #0478ec;
    padding: 17px 0px;
}

.footer-bottom-left p {
    color: #fff;
    text-align: center;
}

.footer-bottom-right p {

    color: #fff;
    text-align: right;
}

.footer-bottom-right p a {
    color: #dcd735;
}

.title-transparent {
    opacity: 0 !important;
}

#social {
    margin: 20px 10px;
    text-align: center;
}

.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}

/* facebook button class*/

.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
    border-color: #4060A5;
    /* change the border color on mouse hover */
}

/* twitter button class*/

.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
    border-color: #00ABE3;
}

/* google plus button class*/

.googleplusBtn {
    background: #e64522;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}

/* linkedin button class*/

.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}

/* youtube button class */

.youtubeBtn {
    background: #bf1d23;
}

.youtubeBtn:before {
    font-family: "FontAwesome";
    content: "\f167";
    /* add linkedin icon */
}

.youtubeBtn:hover {
    color: #bf1d23;
    background: #fff;
    border-color: #bf1d23;
}

/* youtube button class */
/* pinterest button class*/

.pinterestBtn {
    background: #cb2027;
}

.pinterestBtn:before {
    font-family: "FontAwesome";
    content: "\f0d2";
    /* add pinterest icon */
}

.pinterestBtn:hover {
    color: #cb2027;
    background: #fff;
    border-color: #cb2027;
}

/* tumblr button class*/

.tumblrBtn {
    background: #3a5876;
}

.tumblrBtn:before {
    font-family: "FontAwesome";
    content: "\f173";
    /* add tumblr icon */
}

.tumblrBtn:hover {
    color: #3a5876;
    background: #fff;
    border-color: #3a5876;
}

/* rss button class*/

.rssBtn {
    background: #e88845;
}

.rssBtn:before {
    font-family: "FontAwesome";
    content: "\f09e";
    /* add rss icon */
}

.rssBtn:hover {
    color: #e88845;
    background: #fff;
    border-color: #e88845;
}

.form-control-new {
    border-radius: 0px;
    position: relative;
}

.form-control-new:before {
    content: "/f0e0";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    top: 0px;
}

.newsletter {
    color: #fff;
}

.subscribe {
    width: 100%;
    border-radius: 0px;
    background: #24829f;
    border: 1px solid #6ac5e1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}